<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>You have received a message from the site's contact form, from
      <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>
